In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/amazon-top-50-bestselling-books-2009-2019/bestsellers with categories.csv

**Loading the Data**

In [8]:
import pandas as pd
df = pd.read_csv('/kaggle/input/amazon-top-50-bestselling-books-2009-2019/bestsellers with categories.csv')

**Exploring the Data**

In [14]:
# Get the first 5 rows of the spreadsheet
print(df.head())

# Get the shape of the spreadsheet
print(df.shape)

# Get the column names of the spreadsheet
print(df.columns)

# Get summary statistics for each column
print(df.describe())

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
(550, 7)
Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')
       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

**Cleaning the Data**

In [15]:
df.drop_duplicates(inplace=True)

**Reanming some of the columns**

In [20]:
df.rename(columns={"Name": "Title", "Year": "Publication Year", "User Rating": "Rating","Reviews":"Number of Reviews"}, inplace=True)

In [21]:
df.head()

,Title,Author,Rating,Number of Reviews,Price,Publication Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

**Converting data type of "Price"**

In [22]:
df["Price"] = df["Price"].astype(float)

**Analysing the Data**

In [23]:
#Finding how many books of an author have appeared in the bestsellers
author_counts = df['Author'].value_counts()
print(author_counts)

Author
Jeff Kinney                           12
Suzanne Collins                       11
Gary Chapman                          11
Rick Riordan                          11
American Psychological Association    10
                                      ..
Maurice Sendak                         1
Cheryl Strayed                         1
The Staff of The Late Show withÂ…       1
Geneen Roth                            1
Ken Follett                            1
Name: count, Length: 248, dtype: int64

In [24]:
#Finding average rating of each genre in the dataset
avg_rating_by_genre = df.groupby('Genre')['Rating'].mean()
print(avg_rating_by_genre)

Genre
Fiction        4.648333
Non Fiction    4.595161
Name: Rating, dtype: float64

In [27]:
#Finding average price of each genre in the dataset
avg_price_by_genre = df.groupby('Genre')['Price'].mean()
print(avg_price_by_genre)

Genre
Fiction        10.850000
Non Fiction    14.841935
Name: Price, dtype: float64

In [28]:
#Finding average reviews for each genre in the dataset
avg_reviews_by_genre = df.groupby('Genre')['Number of Reviews'].mean()
print(avg_reviews_by_genre)

Genre
Fiction        15683.791667
Non Fiction     9065.145161
Name: Number of Reviews, dtype: float64

**Exporting the Results**

In [29]:
# Export top selling authors to a CSV file
author_counts.head(10).to_csv("top_authors.csv")

# Export average rating by genre to a CSV file
avg_rating_by_genre.to_csv("avg_rating_by_genre.csv")

# Export average price by genre to a CSV file
avg_price_by_genre.to_csv("avg_price_by_genre.csv")

# Export average reviews by genre to a CSV file
avg_reviews_by_genre.to_csv("avg_reviews_by_genre.csv")